@model Checklists.Models.Checklist

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

@if (Model.TodoItems.Any())
{
    <form>
        <ul class="list-group">
            @foreach (var item in Model.TodoItems)
            {
                <li class="list-group-item">
                    <input type="checkbox" value="@item.Checked" data-item-id="@item.Id" />
                    @item.Title
                </li>
            }
        </ul>
    </form>
}
else
{
    <p>There are no to-do items. <a href="#">Create a new to-do item</a>.</p>
}
